<h1>用户列表</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>用户名：</th>
      <th>邮箱：</th>
      <th>密码</th>
      <th>创建时间</th>
      <th>管理</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>
        <a href="/users/{{user.id}}">
          {{user.username}}
        </a>
      </td>
        <td>
          {{user.email}}
        </td>
        <td>
          {{user.password}}
        </td>
        <td>
          {{user.create_at}}
        </td>
      <td>
        <a href="/users/{{user.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          编辑
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> 删除
        </button>
      </td>
    </tr>
  </tbody>
</table>

