<h1>主菜单</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>菜名</th>
      <th>价格</th>
      <th>喜欢数</th>
      <th>全部出售量</th>
      <th>每日出货</th>
      <th>管理</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="menu in menus">
      <td>
        <a href="/menus/{{menu.id}}">
          {{menu.name}}
        </a>
      </td>
        <td>
          {{menu.price}}
        </td>
        <td>
          {{menu.faverate}}
        </td>
        <td>
          {{menu.all_count}}
        </td>
        <td>
          {{menu.day_count}}
        </td>
      <td>
        <a href="/menus/{{menu.id}}/edit"
          class="btn btn-primary"><i class="icon-edit"></i>
          编辑
        </a>
        <button ng-click="destroy()" class="btn btn-danger">
          <i class="icon-trash"></i> 删除
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <a href='/menus/new' class="btn btn-primary">
    <i class="icon-plus"></i>新建
  </a>
</p>
